#app {
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth;
    background-color: $menuBg;
    position: fixed;
    font-size: 0px;
    top: 74px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .el-scrollbar {
      height: calc(100% - 64px);
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
      .el-scrollbar__bar {
        &.is-vertical {
          right: 0px;
        }
        &.is-horizontal {
          display: none;
        }
      }
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $menuBg;
      user-select: none;
      &:not(.is-collapse) {
        .el-menu-item.is-active {
          @extend %menu_item_hover;
          // 修改伪类样式
          &::before {
            content: "";
            position: absolute;
            left: calc(#{$sideBarWidth} - 25px);
            top: calc(50% - 4px);
            width: 8px;
            height: 8px;
            background: rgba(255, 255, 255, 0.3);
            border: 2px solid $primaryColor;
          }
          &::after {
            content: "";
            height: inherit;
            position: absolute;
            width: 3px;
            left: calc(#{$sideBarWidth} - 3px);
            top: 0;
            vertical-align: middle;
            display: inline-block;
            background-color: #36a4ff;
          }
        }
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
      .svg-icon {
        margin-right: 12px;
      }
      .sub-el-icon {
        margin-right: 12px;
        margin-left: -2px;
      }
    }
    .el-submenu .el-menu-item:not(.el-submenu)::before {
      background-color: transparent;
    }
    .el-submenu {
      .el-submenu__title .el-submenu__icon-caret::before {
        content: "\e6df";
      }
      .router-link-active {
        height: 50px;
      }
    }
    // menu hover
    .submenu-title-noDropdown,
    .el-submenu > .el-submenu__title,
    .el-submenu .el-menu-item {
      height: 50px;
      line-height: 50px;
      // min-width: $sideBarWidth;
      color: $fontColor;
      font-size: $fontSizeBase;
      &:hover {
        @extend %menu_item_hover;
        min-width: auto;
        .nothover {
          display: none;
        }
        .ishover {
          display: inline-block;
        }
      }
      &::before {
        display: none;
      }
    }
    .el-submenu .el-menu-item:not(.el-submenu):hover::after {
      background: transparent;
    }
  }
  .el-menu--collapse.el-menu {
    .el-submenu {
        .el-submenu__icon-caret::before {
          display: none;
        }
    }
  }
  .el-menu--collapse.el-menu .submenu-title-noDropdown.el-menu-item  {
    background: none;
    height: 64px;
    line-height: 64px;
  }
  .el-menu--collapse.el-menu {
    .el-submenu {
      margin: 0;
    }
    .el-submenu,
    .submenu-title-noDropdown {
        .el-submenu__title {
            height: 64px;
            line-height: 64px;
            z-index: 2;
            &:hover {
                background: none;
            }
            span {
              display: none;
            }
        }
        &:hover,&.is-active {
            .svg-icon {
              z-index: 2;
              color: #ffffff;
              position: relative;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 8px;
                background: linear-gradient(90deg, #78C2FF 0%, #36A4FF 100%);
                position: absolute;
                z-index: 1;
                top: 8px;
                left: 21px;
            }
        }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
  // when menu collapsed
  .el-main {
    &.is-collapse {
      .sidebar-container {
        width: $sideBarCollapseWidth;
        height: 64px;
        .svg-icon {
          margin-left: 18px;
        }
        .el-scrollbar {
          display: none;
        }
      }
      .app-main {
        width: calc(100% - #{$sideBarCollapseWidth});
        margin-left: 0;
      }
    }
  }
  // menu icon
  .el-menu-item-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 16px;
  }
  .nothover {
    display: inline-block;
  }
  .ishover {
    display: none;
  }
}

.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }
  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
.el-menu--vertical {
  >.el-menu--popup {
      box-shadow: 0px 4px 8px 0px rgb(41 48 64 / 20%);
      border-radius: 2px;
  }
  .el-menu-item-group__title {
      padding: 0;
      padding-left: 10px !important;
      border-bottom: 1px solid #e7e7e7;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #bdbdbd;
      margin-bottom: 8px;
      i {
          margin-right: 6px;
      }
  }
}

// .el-tooltip__popper.is-dark {
//   width: 114px;
//   height: 36px;
//   background: #FFFFFF;
//   box-shadow: 0px 4px 8px 0px rgba(41, 48, 64, 0.2);
//   border: 1px solid #EDEDED;
//   color: #4B4B4B;
//   line-height: 20px;
//   left: 78px!important;
//   .popper__arrow {
//       border-right-color: #ffffff;
//       &::after {
//           border-right-color: #ffffff;
//       }
//   }
// }

