#app {
  .el-table {
    color: $fontColor;
    .table-column-index {
      color: $disabled;
    }
    // 树形图标替换
    &__expand-icon {
      transform: rotate(-90deg);
      color: $disabled;
      .el-icon-arrow-right::before {
        content: "\e790";
      }
    }
    &__expand-icon--expanded {
      color: #4b4b4b;
      transform: rotate(0);
    }
    // 事件类型中，事件小类有背景色
    &.event-type-table {
      // 事件小类有背景色
      .el-table__row--level-2 {
        background-color: #f9fafe;
      }
    }
    // 修复数据为空的时候，右侧操作列有空白横线的样式
    &__fixed-right::before,
    &__fixed::before {
      background-color: transparent;
    }
  }
  .result {
    flex: 1; // 如果有兼容问题，再写一个 height: calc()
    background-color: $white;
    padding: 0 16px;
    height: 100%;
  }
  .action-btn {
    color: $tipsColor;
    cursor: pointer;
    margin-right: 8px;
    &.is-disabled {
      color: $disabled;
      cursor: not-allowed;
    }
  }
  // 表格上面的操作按钮通用样式
  .common-action-btn {
    &.el-button--default {
      border-color: #36a4ff;
      color: #36a4ff;
    }
    width: auto;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    // icon通用
    .common-icon {
      display: inline-block;
      width: 38px;
      height: 32px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-right: 12px;
    }
    // 新增
    .custom-add {
      background-image: url("~@/assets/imgs/add.png");
    }
    // 批量
    .custom-batch {
      background-image: url('~@/assets/imgs/batch-operation.png');
    }
    //删除
    .custom-delete {
      background-image: url('~@/assets/imgs/delete.png');
    }
    //表格定制
    .custom-table {
      background-image: url('~@/assets/imgs/table.png');
    }
  }
}
